@page
@model IndexModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore.Markdown
@addTagHelper *, Htmx.TagHelpers
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" id="NoteTitle" hx-swap-oob="true">@Model.CurrentNote</h1>
    <h2 class="display-4"><img src="@Model.GitHubUser.AvatarUrl" width="50"/> @Model.GitHubUser.Name </h2>
</div>
<form action="@Url.Page("Index", "Save")" method="post">
    <input type="submit" name="Save" value="save."></input>
    <div style="display: flex;flex-direction: row" hx-get="@Url.Page("Index/?{@Model.}", "Save")"
         hx-trigger="keyup[key=='F7'] from:body" asp-for="PostContent">
        <div style="width: 20%">
            <partial name="Shared/Hierarchy" model="@Model.NoteHierarchy"/>
        </div>


        <textarea hx-post="@Url.Page("Index")" style="width: 30%;display:inline" hx-trigger="keyup changed delay:250ms" hx-target="#xContent" id="editor" hx-swap-oob="true" asp-for="PostContent" name="PostContent"></textarea>
        
        <div id="xContent" style="margin: auto 0;width: 50%"><partial name="_Preview"/></div>



    </div>

</form>

