@page "{NoteName?}"
@model EditModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Westwind.AspNetCore.Markdown
@addTagHelper *, Htmx.TagHelpers

<div class="text-center">
    
    <h1 class="display-4"><img src="@Model.GitHubUser.AvatarUrl" width="50"/> @Model.GitHubUser.Name </h1>
    <h2>@Model.RepositoryName</h2>
    <h3 id="NoteTitle" hx-swap-oob="true" class="display-4">@Model.CurrentNoteDescription</h3>
    
    <form action="@Url.Page("Index", "Save")" method="post">
        @Html.AntiForgeryToken()
    
         <markdown>@Model.PostContent</markdown>
    </form>
    
</div>

