@using BackEnd
@using System.Reflection.Metadata
@model BackEnd.INoteHierarchy


@if (Model != null)
{
    string back = Model.Selected ? "background-color:lightblue" : "";
    string edited = Model.Edited ? "color:red" : "";

    @if (Model.IsLeaf)
    {
        <div style="display: flex;flex-direction: row;@back">
            <a style="display:block;@edited" class="treemargin" href="#" hx-get="/Index/@Model.Name" hx-target="#xContent" >@Model.ShortName @(Model.Edited?"*":"")</a> 
            <a href="#" onclick="createNote('@Model.Name')" ><span class="material-symbols-outlined">Add_Box</span></a>
            <a href="#" hx-delete="@Url.Page("Index")?note=@Model.Name" hx-target="#tree" ><span class="material-symbols-outlined">Delete</span></a>
        </div>
    }
    else
    {
        <details class="treemargin" @(Model.Deployed ? "open=open" : "close=close")>
            <summary open style="@back">
                <a style=";@edited" href="#" hx-get="@Url.Page("Index")/@Model.Name" hx-target="#xContent">@Model.ShortName @(Model.Edited?"*":"")</a> 
                <a href="#" onclick="createNote('@Model.Name')" ><span class="material-symbols-outlined">Add_Box</span></a>
            </summary>

            @if (Model is NodeNote node)
            {
                @if (node.Child != null && node.Child.Any())
                {
                    @foreach (var note in node.Child)
                    {
                        <partial name="Hierarchy" model="@note"/>
                    }
                }
            }
        </details>
    }
}