@using BackEnd
@using System.Reflection.Metadata
@model BackEnd.INoteHierarchy


@if (Model != null)
{
    @if (Model.IsLeaf)
    {
        <div style="display: flex;flex-direction: row">
            <a style="display:block;" class="treemargin" href="#" hx-get="@Url.Page("Index")?note=@Model.Name" hx-target="#xContent">@Model.ShortName</a> 
            <a href="#" onclick="createNote('@Model.Name')" class="fa-square-plus">+++</a>
            <a href="#" hx-delete="@Url.Page("Index")?note=@Model.Name" class="fa-trash">---</a> 
        </div>
    }
    else
    {
        <details class="treemargin" @(Model.Deployed ? "open=open" : "close=close")>
            <summary open>
                <a href="#" hx-get="@Url.Page("Index")?note=@Model.Name" hx-target="#xContent">@Model.ShortName</a> <a href="#" onclick="createNote('@Model.Name')">+++</a>
            </summary>

            @if (Model is NodeNote node)
            {
                @if (node.Child != null && node.Child.Any())
                {
                    @foreach (var note in node.Child)
                    {
                        <partial name="Hierarchy" model="@note"/>
                    }
                }
            }
        </details>
    }
}